
body {
    font: 20px Arial serif;
}
.navbar {
    background-color: #298a08;
}

.navbar-nav {
    
}

.quem-somos {
    background: #8181f7;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #58faf4;
    padding-top: 20px;
    padding-bottom: 50px;
}

.bg-footer {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}